<ActionBar title="Reportes de tiempo">
    <NavigationButton icon="res://ic_baseline_menu_24" (tap)="verMenuLateral()"></NavigationButton>
</ActionBar>
<GridLayout row="*, auto" backgroundColor="#F3F3F3">
    <StackLayout row="0" *ngIf="aReportes" verticalAlignment="center">
        <RadListView visibility="{{ aReportes.length>0 ? 'visible' : 'collapsed' }}" [items]="aReportes" separatorColor="transparent"
            pullToRefresh="true" (pullToRefreshInitiated)="refrescarReportes($event)" height="100%" marginTop="10">
            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Slide" itemDeleteAnimation="Slide"></ListViewLinearLayout>
            <ng-template let-reporte="item">
                <StackLayout>
                    <MDCardView marginLeft="7" marginRight="7" marginTop="1" marginBottom="1" elevation="3" borderRadius="10">
                        <GridLayout rows="auto, auto" marginLeft="10">
                            <GridLayout row="0" columns="*, auto" borderBottomWidth="1" borderColor="#e5e7e9" marginTop="10">
                                <Image col="0" src="~/app/imagenes/general/circle.png" width="10" horizontalAlignment="left"
                                    tintColor="{{reporte?.color}}"> </Image>
                                <Label col="0" [text]="reporte?.estatus" fontWeight="bold" color="{{reporte?.color}}"
                                    marginLeft="10"></Label>
                                <Image col="1" src="~/app/imagenes/general/trash.png" width="15" marginLeft="5"
                                    marginRight="10" tintColor="#e62800" (tap)="eliminaReporte(reporte)" *ngIf="reporte?.envio===0">
                                </Image>
                            </GridLayout>
                            <GridLayout row="1" rows="*, *, *, *" columns="*, *, *" (tap)="periodoSeleccionado(reporte)">
                                <Label row="0" col="0" text="Quincena" textAlignment="center" color="#5a636f"></Label>
                                <Label row="1" col="0" [text]="reporte?.quincena" textAlignment="center"
                                    fontWeight="bold"></Label>
                                <Label row="0" col="1" text="Mes" textAlignment="center" color="#5a636f"></Label>
                                <Label row="1" col="1" [text]="reporte?.mes" textAlignment="center"
                                    fontWeight="bold"></Label>
                                <Label row="0" col="2" text="Año" textAlignment="center" color="#5a636f"></Label>
                                <Label row="1" col="2" [text]="reporte?.ano" textAlignment="center"
                                    fontWeight="bold"></Label>
                                <Label row="2" col="0" text="Hrs. Asignables" textWrap="true" textAlignment="center"
                                    color="#5a636f"></Label>
                                <Label row="3" col="0" [text]="reporte?.horas_asignables" textAlignment="center"
                                    fontWeight="bold"></Label>
                                <Label row="2" col="1" text="Hrs. No Asignables" textWrap="true" textAlignment="center"
                                    color="#5a636f"></Label>
                                <Label row="3" col="1" [text]="reporte?.horas_no_asignables" textAlignment="center"
                                    fontWeight="bold"></Label>
                                <Label row="2" col="2" text="Total" textAlignment="center" color="#5a636f"></Label>
                                <Label row="3" col="2" [text]="reporte?.total" textAlignment="center"
                                    fontWeight="bold"></Label>
                            </GridLayout>
                        </GridLayout>
                    </MDCardView>
                </StackLayout>
            </ng-template>
        </RadListView>
        <StackLayout [visibility]="aReportes.length<=0 ? 'visible' : 'collapsed'" margin="30">
                <Label text="Registre su primer reporte de tiempo" textWrap="true" horizontalAlignment="center"
                    fontSize="20"></Label>
                <StackLayout marginTop="25" width="50" height="50" class="img-circle view" backgroundColor="#24257d"
                    verticalAlignment="center" horizontalAlignment="center">
                    <Image src="~/app/imagenes/general/plus.png" width="25" (tap)="nuevoPeriodo()" tintColor="#ffffff"
                        verticalAlignment="center"></Image>
                </StackLayout>
        </StackLayout>
    </StackLayout>
    <ScrollView row="1" height="100%">
        <StackLayout *ngIf="!aReportes" margin="5">
            <MDCardView margin="10" elevation="5" borderRadius="10" *ngFor="let reporte of aReportesCargando">
                <GridLayout rows="auto, auto" margin="10">
                    <GridLayout row="0" columns="*" borderBottomWidth="1" borderColor="#e5e7e9" class="Parpadear" marginTop="10">
                        <Image col="0" src="~/app/imagenes/general/circle.png" width="10" horizontalAlignment="left"
                        tintColor="#B8B8B8"></Image>
                        <Label col="0" text=" ███████████████" marginLeft="15"></Label>
                    </GridLayout>
                    <GridLayout row="1" rows="*, *, *, *" columns="*, *, *" class="Parpadear" marginBottom="10">
                        <Label row="0" col="0" text="█████" textAlignment="center"></Label>
                        <Label row="1" col="0" text="██████████" textAlignment="center"></Label>
                        <Label row="0" col="1" text="█████" textAlignment="center"></Label>
                        <Label row="1" col="1" text="██████████" textAlignment="center"></Label>
                        <Label row="0" col="2" text="█████" textAlignment="center"></Label>
                        <Label row="1" col="2" text="████████" textAlignment="center"></Label>
                        <Label row="2" col="0" text="███████" textAlignment="center"></Label>
                        <Label row="3" col="0" text="██████████" textAlignment="center"></Label>
                        <Label row="2" col="1" text="███████" textAlignment="center"></Label>
                        <Label row="3" col="1" text="██████████" textAlignment="center"></Label>
                        <Label row="2" col="2" text="███████" textAlignment="center"></Label>
                        <Label row="3" col="2" text="██████████" textAlignment="center"></Label>
                    </GridLayout>
                </GridLayout>
            </MDCardView>
        </StackLayout>
    </ScrollView>
</GridLayout>
<AbsoluteLayout *ngIf="aReportes">
    <StackLayout *ngIf="aReportes.length>0 && bNuevoPeriodo" marginTop="90%" marginLeft="82%" width="50" height="50"
        class="img-circle view" backgroundColor="#24257d" verticalAlignment="center">
        <StackLayout>
            <Image src="~/app/imagenes/general/plus.png" width="25" (tap)="nuevoPeriodo()" tintColor="#ffffff"
                verticalAlignment="center"></Image>
        </StackLayout>
    </StackLayout>
    <StackLayout *ngIf="aReportes.length>0 && !bNuevoPeriodo" marginTop="75%" marginLeft="92%" width="50" height="50"
        class="img-circle view" backgroundColor="#24257d" verticalAlignment="center">
        <StackLayout>
            <Image src="~/app/imagenes/general/plus.png" width="25" (tap)="nuevoPeriodo()" tintColor="#ffffff"
                verticalAlignment="center"></Image>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>