.header {
    text-align: center;
    font-weight: bold;
    font-size: 16;
}

.view {
   animation-name: rotate;
   animation-duration: 2s;
   /* animation-timing-function: spring; */
   /* animation-fill-mode: forwards; */
   animation-delay: 3;
   animation-iteration-count: 5;
}
@keyframes slide-up {
    from { transform: translateY(10); }
    to { transform: translateY(0); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.margenLandScape {
    margin-top: 79%;
}
.margenPortrait {
    margin-top: 52%;
}
MDTabs {
    background-color: #ffffff;
}
MDTabStrip {
    background-color: #ffffff;
    selected-item-color: #24257d;
    highlight-color: #24257d;
}
MDTabStripItem Label {
    font-size: 14;
    font-family: fantasy;
}
Tabs TabStripItem:active Label {
    color: #24257d;
}

.Parpadear {
    animation-name: Parpadeo;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: #B8B8B8;
}

@keyframes Parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.reporte {
    border-bottom-color: #cdd0d3;
    border-bottom-width: 1;
}