<ActionBar title="Reporte de tiempo">
    <!-- Explicitly hiding the NavigationBar to prevent the default one on iOS-->
    <NavigationButton visibility="collapsed"></NavigationButton>
    <ActionItem ios.position="right">
        <GridLayout columns="auto, auto">
            <Image src="~/app/imagenes/general/save.png" col="0" width="20" marginRight="20" tintColor="#24257d"
            (tap)="validaTotalHorasPorDia('Guardado')">
            </Image>
            <!-- <Image src="~/app/imagenes/general/sign-out.png" col="1" width="22" marginRight="15" (tap)="regresaAReportes()">
            </Image> -->
        </GridLayout>
    </ActionItem>
    <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="regresaAReportes()"></NavigationButton>
</ActionBar>
<StackLayout>
    <GridLayout rows="auto, *, auto">
        <MDCardView row="0" margin="10" elevation="5" borderRadius="10" *ngIf="bAgregaHoras">
            <GridLayout columns="*, *, *" margin="10">
                <StackLayout col="0" horizontalAlignment="center" orientation="horizontal">
                    <Label text="Quincena: " textAlignment="center"></Label>
                    <Label [text]="oPeriodo.quincena" fontWeight="bold" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="1" horizontalAlignment="center" orientation="horizontal">
                    <Label text="Mes: " textAlignment="center"></Label>
                    <Label [text]="oPeriodo.mes" fontWeight="bold" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout col="2" horizontalAlignment="center" orientation="horizontal">
                    <Label text="Año: " textAlignment="center"></Label>
                    <Label [text]="oPeriodo.ano" fontWeight="bold" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </MDCardView>
        <StackLayout row="1">
            <MDTabs #tabview (selectedIndexChanged)="seleccionaTipoHoras($event)" iosIgnoreSafeArea="true"
                swipeEnabled="false">
                <MDTabStrip>
                    <MDTabStripItem>
                        <Label text="Horas Asignables"></Label>
                    </MDTabStripItem>
                    <MDTabStripItem>
                        <Label text="Horas No Asignables"></Label>
                    </MDTabStripItem>
                </MDTabStrip>
                <MDTabContentItem>
                    <ScrollView orientation="horizontal" height="100%" *ngIf="aHorasAsignables.length>=3">
                        <StackLayout height="100%">
                            <!-- <MDCardView margin="10" elevation="5" borderRadius="10"> -->
                                    <StackLayout verticalAlignment="center" height="100%">
                                        <RadListView [items]="aHorasAsignables" class="list-group" separatorColor="blue"
                                            height="100%">
                                            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Scale" itemDeleteAnimation="Scale"></ListViewLinearLayout>
                                            <ng-template let-asignable="item">
                                                <StackLayout orientation="horizontal" (tap)="seleccionaHoraAsignable(asignable)">
                                                    <Label [text]="asignable?.Clave" width="130"></Label>
                                                    <Label [text]="asignable?.uno" width="30"
                                                        [color]="asignable?.uno === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.dos" width="30"
                                                        [color]="asignable?.dos === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.tres" width="30"
                                                        [color]="asignable?.tres === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.cuatro" width="30"
                                                        [color]="asignable?.cuatro === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.cinco" width="30"
                                                        [color]="asignable?.cinco === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.seis" width="30"
                                                        [color]="asignable?.seis === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.siete" width="30"
                                                        [color]="asignable?.siete === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.ocho" width="30"
                                                        [color]="asignable?.ocho === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.nueve" width="30"
                                                        [color]="asignable?.nueve === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.diez" width="30"
                                                        [color]="asignable?.diez === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.once" width="30"
                                                        [color]="asignable?.once === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.doce" width="30"
                                                        [color]="asignable?.doce === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.trece" width="30"
                                                        [color]="asignable?.trece === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.catorce" width="30"
                                                        [color]="asignable?.catorce === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.quince" width="30"
                                                        [color]="asignable?.quince === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                    <Label [text]="asignable?.diezyseis" width="30"
                                                        [color]="asignable?.diezyseis === 0 ? '#E2E2E2' : '#000000'"
                                                        [visibility]="isItemVisible ? 'collapsed' : 'visible'"></Label>
                                                    <Label [text]="asignable?.Total" width="50"></Label>
                                                    <Label [text]="asignable?.Gerente" width="150"></Label>
                                                    <Label [text]="asignable?.Cliente" width="200"></Label>
                                                </StackLayout>
                                            </ng-template>
                                        </RadListView>
                                    </StackLayout>
                                <!-- </MDCardView> -->
                            </StackLayout>
                        </ScrollView>
                        <StackLayout *ngIf="aHorasAsignables.length<=2" verticalAlignment="center" horizontalAlignment="center">
                            <Label text="¿Desea agregar Horas Asignables a su reporte?" textWrap="true" fontSize="16"
                            marginLeft="10" marginRight="10" marginBottom="20" textAlignment="center"></Label>
                                <StackLayout width="50" height="50"  backgroundColor="#24257d"
                                    verticalAlignment="center" (tap)="agregaHoras()" class="img-circle view">
                                    <Image src="~/app/imagenes/general/plus.png" width="20" tintColor="#ffffff" verticalAlignment="center">
                                    </Image>
                                </StackLayout>
                        </StackLayout>
                </MDTabContentItem>
                <MDTabContentItem>
                    <ScrollView orientation="horizontal" height="100%" *ngIf="aHorasNoAsignables.length>=3">
                        <StackLayout height="100%">
                            <MDCardView margin="10" elevation="5" borderRadius="10">
                                <StackLayout height="100%">
                                    <RadListView [items]="aHorasNoAsignables" class="list-group" separatorColor="red"
                                        height="100%">
                                        <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Scale" itemDeleteAnimation="Scale"></ListViewLinearLayout>
                                        <ng-template let-noAsignable="item">
                                            <StackLayout orientation="horizontal" (tap)="seleccionaHoraNoAsignable(noAsignable)">
                                                <Label [text]="noAsignable?.NomActividad" width="150"></Label>
                                                <Label [text]="noAsignable?.uno" width="30"
                                                    [color]="noAsignable?.uno === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.dos" width="30"
                                                    [color]="noAsignable?.dos === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.tres" width="30"
                                                    [color]="noAsignable?.tres === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.cuatro" width="30"
                                                    [color]="noAsignable?.cuatro === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.cinco" width="30"
                                                    [color]="noAsignable?.cinco === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.seis" width="30"
                                                    [color]="noAsignable?.seis === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.siete" width="30"
                                                    [color]="noAsignable?.siete === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.ocho" width="30"
                                                    [color]="noAsignable?.ocho === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.nueve" width="30"
                                                    [color]="noAsignable?.nueve === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.diez" width="30"
                                                    [color]="noAsignable?.diez === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.once" width="30"
                                                    [color]="noAsignable?.once === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.doce" width="30"
                                                    [color]="noAsignable?.doce === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.trece" width="30"
                                                    [color]="noAsignable?.trece === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.catorce" width="30"
                                                    [color]="noAsignable?.catorce === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.quince" width="30"
                                                    [color]="noAsignable?.quince === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.diez_y_seis" width="30"
                                                    [color]="noAsignable?.diez_y_seis === 0 ? '#E2E2E2' : '#000000'"></Label>
                                                <Label [text]="noAsignable?.Total" width="50"></Label>
                                            </StackLayout>
                                        </ng-template>
                                    </RadListView>
                                </StackLayout>
                            </MDCardView>
                        </StackLayout>
                    </ScrollView>
                    <StackLayout *ngIf="aHorasNoAsignables.length<=2" verticalAlignment="center" horizontalAlignment="center">
                        <Label text="¿Desea agregar Horas No Asignables a su reporte?" textWrap="true" fontSize="16" marginLeft="10"
                            marginRight="10" marginBottom="20" textAlignment="center"></Label>
                        <StackLayout width="50" height="50" backgroundColor="#24257d" verticalAlignment="center" (tap)="agregaHoras()"
                            class="img-circle view">
                            <Image src="~/app/imagenes/general/plus.png" width="20" tintColor="#ffffff" verticalAlignment="center">
                            </Image>
                        </StackLayout>
                    </StackLayout>
                </MDTabContentItem>
            </MDTabs>
        </StackLayout>
        <StackLayout row="2" verticalAlignment="bottom">
            <Button text="Enviar" width="120" class="btn-primary" (tap)="validaTotalHorasPorDia('Enviado')"
                [isEnabled]="nTotalHorasAsignables>0 || nTotalHorasNoAsignables>0" borderRadius="5"
                height="40" marginBottom="10"></Button>
        </StackLayout>
    </GridLayout>
</StackLayout>
<!-- <AbsoluteLayout android:marginTop="77%" ios:marginTop="77%" *ngIf="bAgregaHoras"> -->
<AbsoluteLayout [class.margenLandScape]="bAgregaHoras" [class.margenPortrait]="!bAgregaHoras" [visibility]="(aHorasAsignables.length>=3 && nAsignableNoAsignable===0) || (aHorasNoAsignables.length>=3 && nAsignableNoAsignable===1) ? 'visible' : 'collapsed'">
    <StackLayout width="40" height="40" marginLeft="86%" backgroundColor="#24257d"
        verticalAlignment="center" (tap)="agregaHoras()" class="img-circle view">
        <Image src="~/app/imagenes/general/plus.png" width="15" tintColor="#ffffff" verticalAlignment="center">
        </Image>
    </StackLayout>
</AbsoluteLayout>
<!-- <AbsoluteLayout android:marginTop="70%" ios:marginTop="70%" *ngIf="!bAgregaHoras">
    <StackLayout width="40" height="40" marginLeft="22" class="img-circle" backgroundColor="#2985f5"
        verticalAlignment="center" (tap)="agregaHoras()">
        <Image src="~/app/imagenes/general/plus.png" width="15" tintColor="#ffffff" verticalAlignment="center">
        </Image>
    </StackLayout>
</AbsoluteLayout> -->