.invalid {
    color: red;
}

.ng-invalid.ng-touched {
    border-bottom-color: red;
    color: red
}

.page {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 35;
    margin-right: 35;
    margin-Top: 60;
}