<GridLayout>
    <ScrollView>
        <GridLayout rows="*, auto" horizontalAlignment="center" verticalAlignment="center">
            <StackLayout row="0" horizontalAlignment="center" verticalAlignment="center" *ngIf="hayCredenciales">
                <StackLayout marginBottom="20" marginLeft="15" marginRight="15">
                    <Image src="~/app/imagenes/logos/logo.png" width="500"></Image>
                </StackLayout>
                <ActivityIndicator width="100" height="100" [busy]="hayCredenciales" class="activity-indicator"
                    horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                <Label text="Ingresando..." textAlignment="center" fontSize="20"></Label>
            </StackLayout>
            <StackLayout row="0" horizontalAlignment="center" verticalAlignment="center" *ngIf="!hayCredenciales">
                <StackLayout marginBottom="50" (longPress)="configuraIP()">
                    <Image src="~/app/imagenes/logos/logo.png" width="330"></Image>
                </StackLayout>
                <!-- <Label text="Número de empleado" fontSize="20" [ngClass]="{invalid: !usuarioCtrl.valid && usuarioCtrl.touched}"></Label> -->
                <TextField hint="Número de empleado" textFieldHintColor="red" autocorrect="false" fontSize="18" required
                    #usuarioCtrl="ngModel" autocapitalizationType="none" [(ngModel)]="usuario" class="form-input"
                    keyboardType="number"></TextField>
                <!-- <Label text="Contraseña" fontSize="20" marginTop="10" [ngClass]="{invalid: !contraseniaCtrl.valid && contraseniaCtrl.touched}"></Label> -->
                <TextField hint="Contraseña" fontSize="18" secure="true" required #contraseniaCtrl="ngModel"
                    [(ngModel)]="contrasenia" class="form-input" keyboardType="email" marginTop="20"></TextField>
                <Button text="Iniciar sesión" (tap)="login()" width="70%" class="btn-primary" borderRadius="20"
                    height="40" marginTop="25"></Button>
                <Label text="¿Olvido su contraseña?" fontSize="16" color="#24257d" horizontalAlignment="center"
                    marginTop="20" (tap)="recuperarContrasena()"></Label>
                <Label text="Aviso de Privacidad" marginTop="20" color="#24257d" fontSize="14"
                    horizontalAlignment="center" verticalAlignment="center" (tap)="verAvisoDePrivacidad()"></Label>
            </StackLayout>
            <StackLayout row="1" verticalAlignment="bottom" marginTop="30">
                <Label [text]="versionApp" textAlignment="center" color="#24257d" fontSize="13"></Label>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>