@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */



.btn {
    font-size: 18;
}
.form-input {
    placeholder-color: #A8A8A8;
    margin-bottom: 15;    
}
.optionMenu {
    margin-top: 15;
    margin-left: 15;
    font-size: 18;
    color: #494949;
    vertical-align: top;
}
.avatar {
    background-color: #cdd0d3;
    width: 112px;
    height: 112px;
    border-radius: 56px;
    color: #fff;
    font-family: Open Sans;
    font-size: 20px;
    padding: 24px 0;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #24257d;
    color: #ffffff;
    font-size: 20;
  }

  .btn-outline-primary {
    border-color: #24257d;
    border-width: 1;
    color: #24257d;
    font-size: 16;
    border-radius: 20;
    height: 35;
  }

  DataFormEditorLabel {
    font-size: 16;
    font-weight: bold;
    color: #041224;
}
DataFormEditorCore {
    font-size: 14;
    color: #68717c;
}