<ActionBar title="Reporte de tiempo">
</ActionBar>
<StackLayout>
    <ScrollView height="100%">
        <GridLayout rows="auto, auto, auto" margin="15" verticalAlignment="center" horizontalAlignment="center">
            <Image [src]="imagenFueraLinea" row="0" verticalAlignment="center" margin="15" (doubleTap)="configuraIP()"></Image>
            <StackLayout row="1" margin="15">
                <Label [text]="tituloError" textWrap="true" fontSize="24"
                    textAlignment="center"></Label>
                <Label [text]="subTituloError" textWrap="true" fontSize="16"
                    textAlignment="center" marginTop="10"></Label>
                <ActivityIndicator *ngIf="bconexion" width="50" height="50" [busy]="bconexion" class="activity-indicator"
                    horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
            </StackLayout>
                <Button row="2" text="Reintentar" class="btn-outline-primary" width="130" marginTop="15"
                (tap)="comprobarConexionInternet()"></Button>
        </GridLayout>
    </ScrollView>
</StackLayout>