<RadSideDrawer drawerTransition="SlideInOnTopTransition" (drawerOpened)="abriendoLateral($event)">
    <GridLayout tkDrawerContent rows="auto, *, auto">
        <GridLayout row="0" rows="auto, auto, auto" columns="*, *, auto">
            <!-- <StackLayout row="0" col="2" (tap)="cierraLateral()" margin="10">
                <Image src="~/app/imagenes/general/arrow-circle-left.png" width="25" tintColor="#24257d"
                    horizontalAlignment="right"></Image>
            </StackLayout> -->
            <StackLayout row="1" colSpan="3">
                <!-- <StackLayout width="80" height="80" horizontalAlignment="center" verticalAlignment="center" *ngIf="loginUsuario">
                    <Image src="~/app/imagenes/perfil/default.png"
                        [visibility]="!loginUsuario.ProfilePicture ? 'visible' : 'collapsed'" class="-thumb img-circle"
                        stretch="aspectFill"></Image>
                    <Image src="data:image/png;base64,{{loginUsuario.ProfilePicture}}" stretch="aspectFill" [visibility]="loginUsuario.ProfilePicture ? 'visible' : 'collapsed'" 
                    class="-thumb img-circle" (tap)="abrirFotoPerfil()"></Image>
                </StackLayout>
                <StackLayout horizontalAlignment="center" verticalAlignment="center">
                    <Label text="Hola," fontSize="16" textAlignment="center"></Label>
                    <Label [text]="sNombreCompleto" fontSize="14" textAlignment="center" textWrap="true"></Label>
                </StackLayout> -->
                <Image [src]="imagenFueraLinea" width="350"></Image>
            </StackLayout>
            <StackLayout row="2" colSpan="3" class="hr m-10" verticalAlignment="bottom"></StackLayout>
        </GridLayout>
        <ScrollView row="1">
            <StackLayout>
                <GridLayout columns="30, *, 35" (tap)="seleccionaOpcionMenu('perfilUsuario')">
                    <Image col="0" verticalAlignment="center" src="~/app/imagenes/general/user.png" tintColor="#494949"
                        width="20" verticalAlignment="bottom" marginLeft="10"></Image>
                    <StackLayout col="1" orientation="horizontal" verticalAlignment="center">
                        <Label text="Mi perfil" class="optionMenu"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="30, *, 35" (tap)="seleccionaOpcionMenu('notificaciones')">
                    <Image col="0" verticalAlignment="center" src="~/app/imagenes/general/notifications.png" tintColor="#494949"
                        width="20" verticalAlignment="bottom" marginLeft="10"></Image>
                    <StackLayout col="1" orientation="horizontal" verticalAlignment="center">
                        <Label text="Notificaciones" class="optionMenu"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="30, *" (tap)="cerrarSesion()">
                    <Image col="0" verticalAlignment="center" src="~/app/imagenes/general/sign-out.png"
                        tintColor="#494949" width="20" verticalAlignment="bottom" marginLeft="10"></Image>
                    <Label col="1" text="Cerrar sesión" class="optionMenu"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout row="2" verticalAlignment="bottom" margin="10">
            <Label [text]="versionApp" textAlignment="center" color="#24257d" fontSize="14"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>