<GridLayout #modal>
    <StackLayout>
        <GridLayout rows="auto, auto, *, auto">
            <StackLayout row="0" (tap)="cerrarModal()" borderBottomWidth="1" borderColor="#e5e7e9">
                <GridLayout margin="20" rows="auto, auto" columns="*, 30">
                    <Label col="0" [text]="tituloModal" fontSize="24"></Label>
                    <Image col="1" src="~/app/imagenes/general/close.png" width="17">
                    </Image>
                </GridLayout>
            </StackLayout>
            <StackLayout row="1" marginLeft="20" marginRight="20" marginTop="10">
                <Label text="Llene correctamente la siguiente información. (*) Datos obligatorios." textWrap="true" fontSize="14"></Label>
            </StackLayout>
            <ScrollView row="2">
                <GridLayout rows="auto, auto" verticalAlignment="center">
                    <StackLayout row="0">
                        <MDCardView margin="10" elevation="5" borderRadius="10">
                            <StackLayout margin="5" *ngIf="sTipoHoras==='asignables'">
                                <RadDataForm #formgtecte id="formgtecte" tkExampleTitle tkToggleNavButton
                                    [source]="oDatosGteCte" (loaded)="onDataFormLoadedGteCtePo($event)"
                                    (propertyValidated)="onPropertyValidatedGteCtePo($event)">
                                    <TKEntityProperty tkDataFormProperty name="gerente" displayName="Gerente*" index="0"
                                        [valuesProvider]="aGerentes">
                                        <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                            <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                                ios:separatorColor="transparent">
                                            </TKPropertyEditorStyle>
                                        </TKPropertyEditor>
                                    </TKEntityProperty>
                                    <TKEntityProperty tkDataFormProperty name="cliente" displayName="Cliente*" index="1"
                                        [valuesProvider]="aClientes">
                                        <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                            <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                                ios:separatorColor="transparent">
                                            </TKPropertyEditorStyle>
                                        </TKPropertyEditor>
                                    </TKEntityProperty>
                                    <TKEntityProperty tkDataFormProperty name="proyecto" displayName="Proyecto*"
                                        index="2" [valuesProvider]="aProyectos">
                                        <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                            <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                                ios:separatorColor="transparent">
                                            </TKPropertyEditorStyle>
                                        </TKPropertyEditor>
                                    </TKEntityProperty>
                                </RadDataForm>
                            </StackLayout>
                            <StackLayout margin="10" *ngIf="sTipoHoras==='noAsignables'">
                                <RadDataForm tkExampleTitle tkToggleNavButton [source]="oDatosActividades"
                                    (propertyValidated)="onPropertyValidatedActividades($event)">
                                    <TKEntityProperty tkDataFormProperty name="actividad" displayName="Actividad*"
                                        index="0" [valuesProvider]="aActividades">
                                        <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                            <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                                ios:separatorColor="transparent">
                                            </TKPropertyEditorStyle>
                                        </TKPropertyEditor>
                                    </TKEntityProperty>
                                </RadDataForm>
                                <StackLayout marginTop="10" backgroundColor="#5E97C2" borderRadius="5"
                                    [visibility]="sDescripcion ? 'visible' : 'collapsed'">
                                    <Label margin="5" [text]="sDescripcion" textAlignment="center" textWrap="true"
                                        color="#E3E3E3" fontSize="14"></Label>
                                </StackLayout>
                            </StackLayout>
                        </MDCardView>
                    </StackLayout>
                    <ScrollView orientation="horizontal" row="1" marginTop="20">
                        <StackLayout>
                            <MDCardView margin="10" elevation="5" borderRadius="10">
                                <GridLayout rows="*,*,*" marginTop="10" marginBottom="10" horizontalAlignment="center"
                                    columns="30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 60">
                                    <Label row="0" col="0" [text]="nQuincena===1 ? 1: 16"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="1" [text]="nQuincena===1 ? 2: 17"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="2" [text]="nQuincena===1 ? 3: 18"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="3" [text]="nQuincena===1 ? 4: 19"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="4" [text]="nQuincena===1 ? 5: 20"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="5" [text]="nQuincena===1 ? 6: 21"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="6" [text]="nQuincena===1 ? 7: 22"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="7" [text]="nQuincena===1 ? 8: 23"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="8" [text]="nQuincena===1 ? 9: 24"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="9" [text]="nQuincena===1 ? 10: 25"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="10" [text]="nQuincena===1 ? 11: 26"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="11" [text]="nQuincena===1 ? 12: 27"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="12" [text]="nQuincena===1 ? 13: 28"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="13" [text]="nQuincena===1 ? 14: 29"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="14" [text]="nQuincena===1 ? 15: 30"
                                        horizontalAlignment="center"></Label>
                                    <Label row="0" col="15" text="31" horizontalAlignment="center"
                                        [visibility]="nQuincena===2 && oPropiedadesNumeros.bDiez_y_seis ? 'visible' : 'collapsed'"></Label>
                                    <Label row="0" [col]="nQuincena===2 ? 16: 15" text="Total" textWrap="true"
                                        textAlignment="center"></Label>

                                    <TextField row="1" col="0" text="8" borderWidth="1" width="20"
                                        textAlignment="center" keyboardType="number" returnKeyType="next" maxLength="1"
                                        [(ngModel)]="nUno" (textChange)="sumaHoras()"
                                        [editable]="oPropiedadesNumeros.bUno"
                                        [background]="oPropiedadesNumeros.sColorUno"></TextField>
                                    <TextField row="1" col="1" text="9" borderWidth="1" width="20"
                                        textAlignment="center" keyboardType="number" returnKeyType="next" maxLength="1"
                                        [(ngModel)]="nDos" (textChange)="sumaHoras()"
                                        [editable]="oPropiedadesNumeros.bDos"
                                        [background]="oPropiedadesNumeros.sColorDos"></TextField>
                                    <TextField row="1" col="2" text="3" borderWidth="1" width="20"
                                        textAlignment="center" keyboardType="number" returnKeyType="next" maxLength="1"
                                        [(ngModel)]="nTres" (textChange)="sumaHoras()"
                                        [editable]="oPropiedadesNumeros.bTres"
                                        [background]="oPropiedadesNumeros.sColorTres"></TextField>
                                    <TextField row="1" col="3" text="5" borderWidth="1" width="20"
                                        textAlignment="center" keyboardType="number" returnKeyType="next" maxLength="1"
                                        [(ngModel)]="nCuatro" (textChange)="sumaHoras()" 
                                        [editable]="oPropiedadesNumeros.bCuatro"
                                        [background]="oPropiedadesNumeros.sColorCuatro"></TextField>
                                    <TextField row="1" col="4" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nCinco"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bCinco"
                                        [background]="oPropiedadesNumeros.sColorCinco"></TextField>
                                    <TextField row="1" col="5" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nSeis"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bSeis"
                                        [background]="oPropiedadesNumeros.sColorSeis"></TextField>
                                    <TextField row="1" col="6" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nSiete"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bSiete"
                                        [background]="oPropiedadesNumeros.sColorSiete"></TextField>
                                    <TextField row="1" col="7" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nOcho"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bOcho"
                                        [background]="oPropiedadesNumeros.sColorOcho"></TextField>
                                    <TextField row="1" col="8" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nNueve"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bNueve"
                                        [background]="oPropiedadesNumeros.sColorNueve"></TextField>
                                    <TextField row="1" col="9" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nDiez"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bDiez"
                                        [background]="oPropiedadesNumeros.sColorDiez"></TextField>
                                    <TextField row="1" col="10" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nOnce"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bOnce"
                                        [background]="oPropiedadesNumeros.sColorOnce"></TextField>
                                    <TextField row="1" col="11" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nDoce"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bDoce"
                                        [background]="oPropiedadesNumeros.sColorDoce"></TextField>
                                    <TextField row="1" col="12" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nTrece"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bTrece"
                                        [background]="oPropiedadesNumeros.sColorTrece"></TextField>
                                    <TextField row="1" col="13" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nCatorce"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bCatorce"
                                        [background]="oPropiedadesNumeros.sColorCatorce"></TextField>
                                    <TextField row="1" col="14" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="next" maxLength="1" [(ngModel)]="nQuince"
                                        (textChange)="sumaHoras()" [editable]="oPropiedadesNumeros.bQuince"
                                        [background]="oPropiedadesNumeros.sColorQuince"></TextField>
                                    <TextField row="1" col="15" borderWidth="1" width="20" textAlignment="center"
                                        keyboardType="number" returnKeyType="done" maxLength="1"
                                        [(ngModel)]="nDiez_y_seis" (textChange)="sumaHoras()"
                                        [visibility]="nQuincena===2 && oPropiedadesNumeros.bDiez_y_seis ? 'visible' : 'collapsed'"
                                        [editable]="oPropiedadesNumeros.bDiez_y_seis"
                                        [background]="oPropiedadesNumeros.sColorDiez_y_seis"></TextField>
                                    <TextField row="1" [col]="nQuincena===2 ? 16: 15" text="108" borderWidth="1"
                                        width="36" textAlignment="center" keyboardType="number" [(ngModel)]="nTotal"
                                        editable="false">
                                    </TextField>
                                </GridLayout>
                            </MDCardView>
                        </StackLayout>
                    </ScrollView>
                </GridLayout>
            </ScrollView>
            <StackLayout row="3" verticalAlignment="bottom" margin="15">
                <Button text="Aceptar" width="120" class="btn-primary" (tap)="agregaHoras()"
                    [isEnabled]="proyectoActividad && nTotal>0" borderRadius="5" height="40"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</GridLayout>