<GridLayout #modal rows="auto, *" backgroundColor="black">
    <GridLayout row="0" columns="auto, *, auto" margin="10">
        <StackLayout col="0" marginLeft="5" verticalAlignment="center" (tap)="cerrarModal()">
            <Image src="~/app/imagenes/general/chevron-left.png" width="15" tintColor="#FFFFFF">
            </Image>
        </StackLayout>
        <StackLayout col="1" marginLeft="25" (tap)="cerrarModal()">
            <Label text="Foto de perfil" fontSize="21" color="#FFFFFF"></Label>
        </StackLayout>
        <StackLayout col="2" horizontalAlignment="right" verticalAlignment="center" marginRight="5"
            orientation="horizontal">
            <Image src="~/app/imagenes/general/pencil.png" width="20" marginRight="5" tintColor="#FFFFFF"
                (tap)="opcionActualizarFotoPerfil()"></Image>
            <Image src="~/app/imagenes/general/trash.png" width="17" marginRight="5" tintColor="#FFFFFF" marginLeft="20"
                (tap)="eliminaFotoPerfil()" *ngIf="imagenBase64"></Image>
        </StackLayout>
    </GridLayout>
    <StackLayout row="1" verticalAlignment="center">
        <Image src="~/app/imagenes/perfil/default.png" [visibility]="!imagenBase64 ? 'visible' : 'collapsed'"></Image>
        <WebView [src]="srcImagen" height="70%" ios:width="95%" verticalAlignment="center" horizontalAlignment="center"
            backgroundColor="black" [visibility]="imagenBase64 ? 'visible' : 'collapsed'"
            (loaded)="onWebViewLoaded($event)">
        </WebView>
    </StackLayout>
</GridLayout>