<GridLayout #modal>
    <GridLayout rows="auto, auto">
        <GridLayout columns="*, auto" row="0" margin="15" borderBottomWidth="1" borderColor="#e5e7e9">
            <Label text="Periodo de tiempo" col="0" textWrap="true" fontSize="18" fontWeight="bold"></Label>
            <Image src="~/app/imagenes/general/close.png" col="1" width="16" (tap)="cerrarModal()">
            </Image>
        </GridLayout>
        <StackLayout row="1">
            <ScrollView height="100%">
                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" marginLeft="20" marginRight="20">
                        <Label text="Llene correctamente la siguiente información. (*) Datos obligatorios." textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout row="1">
                        <RadDataForm tkExampleTitle tkToggleNavButton [source]="oPeriodo"
                            (propertyValidated)="onPropertyValidatedPeriodo($event)" margin="15">
                            <TKEntityProperty tkDataFormProperty name="quincena" displayName="Quincena*" index="0"
                                [valuesProvider]="aQuincena">
                                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty tkDataFormProperty name="mes" displayName="Mes*" index="1"
                                [valuesProvider]="aMes">
                                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty tkDataFormProperty name="ano" displayName="Año*" index="2"
                                [valuesProvider]="aAnio">
                                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                            </TKEntityProperty>
                        </RadDataForm>
                    </StackLayout>
                    <StackLayout row="2" marginBottom="15">
                        <Button text="Continuar" (tap)="nuevoPeriodo()" class="btn-periodo" [isEnabled]="bContinuar"
                            borderRadius="5" height="40"></Button>
                    </StackLayout>
                </GridLayout>
            </ScrollView>
        </StackLayout>
    </GridLayout>
</GridLayout>