<ActionBar title="Mi perfil">
    <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="regresaAReportes()"></NavigationButton>
</ActionBar>
<StackLayout>
    <ScrollView height="100%">
        <GridLayout rows="auto, auto, auto, auto">
            <GridLayout row="0" columns="auto, auto" marginTop="20" verticalAlignment="center"
                horizontalAlignment="center">
                <StackLayout col="0" width="100" height="100">
                    <Image src="~/app/imagenes/perfil/default.png"
                        [visibility]="!loginUsuario.ProfilePicture ? 'visible' : 'collapsed'" class="-thumb img-circle"
                        stretch="aspectFill" (tap)="abrirFotoPerfil()"></Image>
                    <Image src="data:image/png;base64,{{loginUsuario.ProfilePicture}}"
                        [visibility]="loginUsuario.ProfilePicture ? 'visible' : 'collapsed'" class="-thumb img-circle"
                        stretch="aspectFill" (tap)="abrirFotoPerfil()"></Image>
                    <!-- <Button [text]="sInicialesUsuario" borderRadius="55" width="100" height="90" fontSize="30"
                            backgroundColor="#4f5965" color="#ffffff" verticalAlignment="center"
                            [visibility]="!loginUsuario.ProfilePicture ? 'visible' : 'collapsed'"></Button> -->
                </StackLayout>
                <Image col="1" src="~/app/imagenes/general/pencil.png" width="20" horizontalAlignment="center"
                    verticalAlignment="bottom" marginLeft="-15"></Image>
            </GridLayout>
            <MDCardView row="1" margin="10" elevation="5" borderRadius="10">
                <StackLayout>
                    <Label text="Datos personales" fontSize="18" fontWeight="bold" margin="10" horizontalAlignment="center"></Label>
                    <RadDataForm #formUsuario id="formUsuario" margin="10" tkExampleTitle tkToggleNavButton
                        [source]="oDatosUsuario" (loaded)="onDataFormLoadedAsegurado($event)">
                        <TKEntityProperty tkDataFormProperty name="noEmpleado" displayName="Número de empleado"
                            index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty name="nombre" displayName="Nombre completo" index="1">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty name="area" displayName="Área" index="2">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty name="correo" displayName="Correo electrónico" index="3">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </RadDataForm>
                </StackLayout>
            </MDCardView>
            <MDCardView row="2" margin="10" elevation="5" borderRadius="10">
                <StackLayout margin="10">
                    <Label text="Cuenta" horizontalAlignment="center" fontSize="20" fontWeight="bold"></Label>
                    <Label text="Aquí puede canbiar su contraseña" textWrap="true" marginLeft="10" fontSize="14"></Label>
                    <RadDataForm #formContrasenia id="formContrasenia" tkExampleTitle tkToggleNavButton
                        [source]="oDatosContrasenia" (loaded)="onDataFormLoadedContrasenia($event)"
                        (propertyValidated)="onPropertyValidatedContrasenia($event)">
                        <TKEntityProperty tkDataFormProperty name="contrasenia" displayName="Contraseña"
                            hintText="*******" index="0">
                            <TKPropertyEditor tkEntityPropertyEditor type="Password">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkDataFormProperty name="confirmaContrasenia"
                            displayName="Confirme contraseña" hintText="*******" index="1">
                            <TKPropertyEditor tkEntityPropertyEditor type="Password">
                                <TKPropertyEditorStyle tkPropertyEditorStyle labelPosition="Top"
                                    ios:separatorColor="transparent">
                                </TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </RadDataForm>
                    <StackLayout marginLeft="10">
                        <Label text="Una longitud de por lo menos 6 caracteres" textSize="16" *ngIf="bMostrarAlertas && !bTieneLongitud"
                            [color]="!bTieneLongitud ? '#FF0000' : '#1F970A'"></Label>
                        <Label text="Incluir un numero" textSize="16" *ngIf="bMostrarAlertas && !bTieneNumero"
                            [color]="!bTieneNumero ? '#FF0000' : '#1F970A'"></Label>
                        <Label text="Incluir una letra mayúscula y una minúscula." textSize="16" *ngIf="bMostrarAlertas && !bTieneMayusculasMinusculas"
                            [color]="!bTieneMayusculasMinusculas ? '#FF0000' : '#1F970A'"></Label>
                    </StackLayout>
                    <StackLayout margin="10">
                        <Button text="Cambiar contraseña" (tap)="checkPasswordStrength()" class="btn-perfil"
                            [isEnabled]="bContrasenia" borderRadius="5" height="40"></Button>
                    </StackLayout>
                </StackLayout>
            </MDCardView>
            <MDCardView row="3" margin="10" elevation="5" borderRadius="10">
                <StackLayout margin="10">
                    <Label text="Eliminar cuenta" fontSize="20" fontWeight="bold" horizontalAlignment="center"></Label>
                    <Label
                        text="AL eliminar su cuenta, pierde el acceso a los servicios Reporte de tiempo: además, eliminaremos de forma permanente sus datos personales."
                        textWrap="true" fontSize="14"></Label>
                    <Button text="Eliminar cuenta" class="btn-perfil" borderRadius="5" height="40" margin="10"></Button>
                </StackLayout>
            </MDCardView>
        </GridLayout>
    </ScrollView>
</StackLayout>