<ActionBar title="Notificaciones">
    <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="regresaAReportes()"></NavigationButton>
</ActionBar>
<StackLayout margin="10" verticalAlignment="center" horizontalAlignment="center">
    <Label text="Trabajando componente de notificacinoes" textWrap="true" fontSize="18" fontWeight="bold"></Label>
</StackLayout>
